<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>

		<!-- 数据库配置 -->
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/javaee</property>
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="connection.username">root</property>
		<property name="connection.password">zyx123456!</property>

		<!-- 调试时显示数据库执行命令 -->
		<property name="show_sql">true</property>

		<!-- 配置mapping -->	
		<mapping resource="com/entity/Instructor.hbm.xml" />
		<mapping resource="com/entity/Student.hbm.xml" />
		<mapping resource="com/entity/Classes.hbm.xml" />
		<mapping resource="com/entity/Report.hbm.xml" />
		<mapping resource="com/entity/Dormitory.hbm.xml" />
		<mapping resource="com/entity/Record.hbm.xml" />
		<mapping resource="com/entity/Administrator.hbm.xml" />
		<mapping resource="com/entity/Message.hbm.xml" />
		<mapping resource="com/entity/MessageGroup.hbm.xml" />
		<mapping resource="com/entity/Grade.hbm.xml" />

	</session-factory>
</hibernate-configuration>